.head-main {
  width: 95%;
  margin: 0 0 0 auto;
}
nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-wrap, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}
.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  flex: 1 1 10rem;
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    color: #38a4d3;
  }

  h3 {
    padding: 2rem 0rem;
    font-size: 6rem;
  }
  p {
    padding-top: 2rem;
    color: $gray-text;
  }
}
.intro-social {
  margin: 4rem 4rem 4rem 0rem;
  a {
    margin-right: 5rem;
  }
}
.active {
  background: $gray-text;
  color: white;
  border-radius: 2rem;
  padding: 1rem 3rem;
}
.intro-text,
.intro-images {
  flex: 1 1 40rem;
}
.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}
/*Animation */
#plant-left {
  animation: plats 1.5s ease infinite alternate 0.5s;
}
#plant-right {
  animation: plats 1.5s ease infinite alternate;
}

@keyframes plats {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
#clock-arrow {
  transform-origin: bottom;
  animation: clockarrow 2s infinite linear;
  transform-box: fill-box;
}
@keyframes clockarrow {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
#me {
  animation: me 1s ease infinite alternate;
  transform-origin: bottom;
}
@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
